.table {

   &__container {
      display: flex;
      flex-direction: column;
      width: 90%;
      margin: 0 auto;
      margin-top: 50px;
      gap: 30px;
   }

   &__form {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding: 10px;
      align-items: center;
      margin-top: 30px;
   }

   &__input {
      width: 350px;
      background: #FFFFFF;
      border: none;
      border-radius: 100px;
      color: dimgrey;
      padding: 10px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   }

   &__button {
      width: 150px;
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
      border-radius: 100px;
      margin-bottom: 10px;
      color: dimgrey;
      padding: 10px;
   }


   table {
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      text-align: center;
      border-collapse: collapse;
      border-spacing: 5px;
      border-radius: 20px;
      padding: 10px;
      background-color: #E1E3E0;
   }

   h3 {
      font-size: 30px;
      font-weight: 300;
      padding: 15px 20px;
      margin: 0;
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
      color: #8D8173;
      white-space: nowrap;
   }

   thead tr {
      width: 100%;
      text-align: left;
   }

   td,
   label {
      color: #8D8173;
      text-align: left;
      padding: 15px 20px;
      font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   }
}

.modal {
   height: 100vh;
   width: 100vw;
   background-color: rgba(255, 255, 255, 0.4);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: 0.5s;
   opacity: 1;
   pointer-events: all;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;

   &__content {
      padding: 20px;
      border-radius: 15px;
      background-color: #E1E3E0;
      width: 50vw;
      transition: 0.4s all;
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

.companies button,
.employees button {
   width: 150px;
   background: #FFFFFF;
   border-radius: 100px;
   margin-bottom: 10px;
   color: #8D8173;
   padding: 10px;
   font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
   border: 2px solid #8D8173;
}
